body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fcbe24;
  background-color: #18222d;
  min-height: 100vh;
  display: flex;
  margin: 0;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #18222d;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: rgb(245, 243, 243);
  padding: 16px;
  text-decoration: none;
  background-color: #18222d;
  border-bottom: 0.5px solid;
}

/* Active/current link */
.sidebar a.active {
  background-color: #706b6b;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
  display: flex;
  align-item: center;
  justify-content: center;
  color: black
}

p {
  text-align: center;
  background-color: #a6a6a6;
  width : 100%;
  padding: 20px 20% 20px 20%;
  color: black;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.image {
  float: left;
  margin-right: 5px;
}

.square {
  display: inline-block
}